Support for X.509 nameConstraints of type iPAddress

### Discussed in https://github.com/strongswan/strongswan/discussions/1951

<div type='discussions-op-text'>

> I'm reading the log right, it seems that the cause is a set of IP address ranges for which the CA is allowed to issue certificates (basically, RFC1918 networks).

Yes, looks like parsing that constraint of type `iPAddress` fails, and as far as I can tell, this use case is currently not supported. The `generalName` parser in the _x509_ plugin only supports the basic form for this type (i.e. 4 or 16 bytes), not the extended form defined in RFC 5280 for `nameConstraints`, which refers to "address range" but actually just doubles the size by adding a netmask to denote a subnet. So unlike the format defined in RFC 3779, this only allows using proper subnets, no ranges, and wastes space in doing so. But we actually do have identification types that can be used for this.

_Originally posted by @tobiasbrunner in https://github.com/strongswan/strongswan/discussions/1951#discussioncomment-7317644_</div>