CHACHA20_POLY1305 Not 256 bit?

Trying connect to Fortigate,two sides all set CHACHA20_POLY1305 as proposal.But I got a errors,no acceptable proposal found.

This is strongswan logs output.We can see the differents.Fortigate given the proposals is 256 bit but strongswan not matched?

> IKE:CHACHA20_POLY1305_256/PRF_HMAC_SHA2_256/ECP_256/CURVE_25519（Fortigate given）
> IKE:CHACHA20_POLY1305/PRF_HMAC_SHA2_256/ECP_256/CURVE_25519 (Strongswan not match)

I checked the strongswan manual,the pic show strongswan support 128 or 256 bit.So what going on?
![image](https://github.com/user-attachments/assets/44951d3b-1529-44de-a0d6-64216d5c1c8e)


Fortigate is wrong in encoding the fixed key length of 256 bits explicitly, see [this errata](https://www.rfc-editor.org/errata_search.php?rfc=7634) to RFC 7634 that clarifies what's already stated in [RFC 7296, section 3.3.5](https://datatracker.ietf.org/doc/html/rfc7296#section-3.3.5):

    The Key Length attribute MUST NOT be used with transforms that use
    a fixed-length key.

> Fortigate is wrong in encoding the fixed key length of 256 bits explicitly, see [this errata](https://www.rfc-editor.org/errata_search.php?rfc=7634) to RFC 7634 that clarifies what's already stated in [RFC 7296, section 3.3.5](https://datatracker.ietf.org/doc/html/rfc7296#section-3.3.5):
> 
> ```
> The Key Length attribute MUST NOT be used with transforms that use
> a fixed-length key.
> ```

ok,thx.