x509 Name Constraints checking applied as AND rather than OR?

We're trying to connect a peer to Strongswan using x509 authentication and certificates from our private CA, and failing with the following message in our logs (host and domain names have been changed for privacy purposes):

> certificate 'CN=device.domain1.tld, O=CompanyName' does not match permitted name constraint '.domain2.tld'

This was curious, because the certificate validates just fine with openssl tools, we use certificates from this CA for web servers and many other purposes without issues, etc. For reference, the intermediate CA certificate with constraints decodes something like this:

> [blah blah blah]
>           X509v3 Name Constraints:
>                 Permitted:
>                   DNS:.domain1.tld
>                   DNS:.domain2.tld
>                   DNS:.domain3.tld
>                   DNS:.domain4.tld
> [blah blah blah]
 
My C skills are quite rusty and the [code in question](
https://github.com/strongswan/strongswan/blob/ad08ced8b23d79afcd2849abba4b61531f5a92f7/src/libstrongswan/plugins/constraints/constraints_validator.c#L297) is modularized in a manner that greatly facilitates development and maintenance but makes casual browsing rather difficult, so I'm not 100% sure that I'm reading it right but it seems to be taking the certificate subject and presumably the SANs later, validating them over each of the issuer's name constraints, and erroring out as soon as one fails to validate. This seems to mean that constraint1 AND constraint2 AND constraint3 AND constraint4 must pass for each issuer. My host certificate in question matches domain1 and Strongswan errors out complaining about domain2, so this supports my theory.

It's a bit awkward that [RFC5280 section 4.2 1.10](https://datatracker.ietf.org/doc/html/rfc5280#section-4.2.1.10) is vague on this matter; it's explicitly stated that matching any single exclusion name constraint must result in certificate rejection but nowhere does it explicitly say that a certificate must match every permitted name constraint or whether it need match only one. However, if one thinks about it, it's virtually impossible to come up with a scenario where having more than one permitted name constraint would be useful if an issued certificate must match all of them. Therefore, I put forward that evaluation should be performed with OR logic rather than AND logic when it comes to validation. I browsed the Interwebs quite a bit looking at various explanations of this topic and every instance that covered it seems to go along with my thinking here. Additionally the openssl validate function, which for better or worse is the industry reference implementation, supports my case as well. Or at least it gives a happy thumbs-up to my certificates. I didn't dig through their code.

And so, I humbly request that the code be changed accordingly (assuming I'm reading it correctly and not making a fool of myself). I feel remiss for not providing a patch, but C is not a language forgiving of dilettantes and I don't have confidence in my current C abilities to present anything that wouldn't likely crash a system and nuke everything on it all the way through the hypervisor level. 


The code in question has changed a lot with 5.9.14 (#2114). Please try that version.

@ecarlseen: Have you tested the latest 5.9.x build and with the recent 6.0.0 build too?