failure in ipv6 conformance testing on 5.8

<!--
IMPORTANT: Please use the [discussion forum](https://github.com/strongswan/strongswan/discussions)
for questions and configuration problems etc., only report actual bugs here.
Your issue will otherwise be closed immediately.
-->

**System (please complete the following information):**
 - OS: SLES 15 SP3
 - Kernel version (if applicable): 5.3 based
 - strongSwan version(s): 5.8.2
 - Tested/confirmed with the latest version: no

**Describe the bug**

The University of New Hampshire Interoperability Lab (UNH-IOL) is currently
testing SLES 15 SP3 for IPv6 conformance and interoperability.

One area of testing is for IPsec using Strongswan.

UNH-IOL reported the following test failure:

"tunnel mode fragmentation failed due to the lack of a transmitted echo reply
packet following a valid unencrypted PTB message."

First test that is failing: IPsec_Iop_5_3_11b:

"After receiving a valid, unencrypted PTB message the DUT did not
transmit an Echo Reply packet. According to RFC 4301, Section
6.1.1: ???To accommodate both ends of this spectrum, a compliant IPsec
implementation MUST permit a local administrator to configure an IPsec
implementation to accept or reject unauthenticated ICMP traffic. This
control MUST be at the granularity of ICMP type and MAY be at the
granularity of ICMP type and code. Additionally, an implementation
SHOULD incorporate mechanisms and parameters for dealing with such
traffic. For example, there could be the ability to establish a minimum
PMTU for traffic (on a per destination basis), to prevent receipt of an
unauthenticated ICMP from setting the PMTU to a trivial size.???
Therefore, after receiving a valid, unencrypted PTB message the DUT
should have lowered the Path MTU estimate. Upon receiving a valid Echo
Request, it should have encrypted and transmitted a fragmented Echo
Reply packet."

Second test that is failing: IPsec_Iop_5_4_11b:

"The DUT did not transmit a tunneled, fragmented Echo Request packet.
According to RFC 4303, Section 3.3.4: ???If necessary, fragmentation is
performed after ESP processing within an IPsec implementation.
Thus, transport mode ESP is applied only to whole IP datagrams (not to IP
fragments). An IP packet to which ESP has been applied may itself be
fragmented by routers en route, and such fragments must be reassembled
prior to ESP processing at a receiver. In tunnel mode, ESP is applied to an
IP packet, which may be a fragment of an IP datagram. For example, a
security gateway or a ???bump-in-the-stack??? or
???bump-in-the-wire??? IPsec implementation (as defined in the
Security Architecture document) may apply tunnel mode ESP to such
fragments.??? Therefore, the DUT should have transmitted a tunnel encrypted and
fragmented Echo Request."

**To Reproduce**
Steps to reproduce the behavior:
1. testing by The University of New Hampshire Interoperability Lab (UNH-IOL)
2. ...
3. ...

**Expected behavior**


**Logs/Backtraces**

Not available

**Additional context**
Add any other context about the problem here.


Please note that strongSwan does not process IPsec traffic (or ICMPs). So these are most likely Linux kernel issues and should probably be reported to the [netdev mailing list](http://vger.kernel.org/vger-lists.html#netdev) (if they have not already been addressed by a newer kernel, which I don't know).

> Therefore, after receiving a valid, unencrypted PTB message the DUT should have lowered the Path MTU estimate. 

I'm not sure if the Linux kernel currently supports this (ICMP handling in the kernel, according to section 6 of RFC 4301, has its limitations anyway, see below).

> If necessary, fragmentation is performed after ESP processing within an IPsec implementation

That doesn't make sense for IPv6, which can only fragment packets on the sender. Same for tunnel mode, where fragmentation can't be applied by the IPsec gateway on the fly, but only by the original sender (unless that's the gateway). So I guess the behavior depends on where the PTB was generated and by which hosts it was forwarded or dropped (due to the IPsec policies or firewall rules). So this could be due to a limitation in the kernel, or a configuration issue.


Note that there are Linux kernel flags that change how ICMP errors generated by the IPsec gateways themselves (i.e. not forwarded ICMPs but if they themselves can't forward/process a decrypted packet) are tunneled and similarly processed on the other end. Such packets might not get tunneled (or get dropped after decryption), by default, because the gateway's addresses are not necessarily part of the traffic selectors. So the flags enable a reverse policy lookup using the header of the original IP packet in the ICMP body (note that the kernel currently also changes the source IP to the unreachable destination when it sends such an ICMP, which makes it match the policy but doesn't seem correct). Anyway, strongSwan currently doesn't support enabling that ICMP handling on policies/SAs, but there is some code in the _icmp-forwarding_ branch that adds an option for it, which was implemented for an experimental kernel patch that adds support for forwarding error ICMPs that don't match traffic selectors (i.e. if they are generated for decrypted, forwarded packets by routers behind the gateway). Not sure if that would change anything regarding these tests, though.
