X509v3 Name Constraints incorrectly required on subordinate CAs in chain

<!--
IMPORTANT: Please use the [discussion forum](https://github.com/strongswan/strongswan/discussions)
for questions and configuration problems etc., only report actual bugs here.
Your issue will otherwise be closed immediately.
-->

**System (please complete the following information):**
 - OS: [e.g. Ubuntu 20.04] Debian 12
 - Kernel version (if applicable): [e.g. 5.10] 6.1.0-17-amd64
 - strongSwan version(s): [e.g. 5.9.2] 5.9.8
 - Tested/confirmed with the latest version: [yes/no] no, but the code is still there 

**Describe the bug**
The constraints plugin has a check (see below) requiring subordinate CAs of a parent CA constrained by X509v3 Name Constraints to *also explicitly include* the same Name Constraints extension as their parent, which contradicts the behavior of other implementations such as OpenSSL (example below), and the X509 standard.

The standard  does not seem to require name constraints to be explicitly set on subordinate CAs of a constrained parent, merely requiring that they do not issue any certificates that violate the constraints of their parent CA. The relevant section from [RFC 5280, Section 4.2.1.10](https://tools.ietf.org/html/rfc5280#section-4.2.1.10) is as follows:

> "If the name constraints extension is present, the sequence of names in subsequent certificates in the chain MUST be acceptable to the name constraints of every parent certificate. [...] Each name constraint MUST be satisfied by every name in the subject field or subjectAltName extension of subsequent certificates."

This reads to me that Name Constraints applied to one CA are implicitly applied to all certificates below that CA, without needing to be explicitly included at each level - which is a pretty useful way to segment your PKI, especially if you are delegating a CA to others but don't trust them to not issue a certificate for google.com (or whatever). 

The [function that causes this issue can be found here](https://github.com/strongswan/strongswan/blob/ad08ced8b23d79afcd2849abba4b61531f5a92f7/src/libstrongswan/plugins/constraints/constraints_validator.c#L228).

**To Reproduce**
I have attached a shell script that uses OpenSSL to generate a complete PKI hierarchy similar to mine: the Intermediate CA has name constraints and signs an Issuer CA, which does not explicitly include name constraints.

Root CA
--> Intermediate CA (Name Constraints)
  --> Issuer CA (no explicit name constraints)
    --> (User certificates)

The Issuer CA signs several user certificates (a gateway certificate, a user certificate, and a certificate that flagrantly violates the Intermediate's name constraints), then the script validates them with OpenSSL. OpenSSL will validate all of them successfully, except for the one that violates the Intermediate's name constraint.

I have only been using IKEv2/RSA configurations with swanctl.conf, but since the code seems to be intentionally enforcing this check, I assume any configuration using such a setup would trigger the issue. 

Turning off the constraints plugin without changing any other configuration options allows authentication to succeed and the VPN functions normally.

**Expected behavior**
X509v3 Name Constraints are applied, but do not need to be explicitly included as extensions on subordinate CAs.

I would also be fine with this behavior being configurable at runtime since the code enforcing it has been around for 10 years. 

**Logs/Backtraces**
    Feb 22 04:00:19 vpn charon-systemd[39152]: intermediate CA 'C = US, O = ExampleOrg, CN = Issuing CA' does not inherit permitted name constraint 'example.org'
    Feb 22 04:00:19 vpn charon-systemd[39152]: no trusted RSA public key found for 'C = US, O = ExampleOrg, CN = User'

[generate.txt](https://github.com/strongswan/strongswan/files/14368838/generate.txt)



Wonderful, thank you so much! That sounds exactly like the approach I was thinking would be used.

Let me know if I can assist in testing in any way.

I've pushed some changes to the _2114-name-constraints_ branch that fix several of the shortcomings of the previous code (see the commit message of the last commit for details).

The certificates generated by your script are correctly validated with these changes.

Hey there, sorry for the delay, I had a busy week and forgot to finish testing!

I can confirm that this fixes my issue with my setup—thanks again so much for the blazing fast turnaround.