Constraint check should ignore ROOT certificate for cert_policy

**Is your feature request related to a problem? Please describe.**
`cert_policy` configuration are current unable due to the strict constraint check, which includes checking the root certificate instead of only the intermediate and end-entity. In most cases, root certificate will not include `certificate policies` (2.5.29.32) as it's not being issued by any other certificate.

**Describe the solution you'd like**
The constraint plugin check for `cert_policy` should not fail when root (or first certificate in chain) is missing the `certificate policies`   extension and only checks for the remaining chains (including the end-entity)

**Describe alternatives you've considered**
Utilizing Radius server may work, however, this will only support EAP-TLS and not IPSec's direct certificate auth.

**Additional context**
Related to https://github.com/strongswan/strongswan/discussions/2595


> root certificate will not include `certificate policies` (2.5.29.32) as it's not being issued by any other certificate.

As far as I understand, the reason to put policies there is to limit the allowed polices in the issued certificates, see [RFC 8280, section 6.2](https://datatracker.ietf.org/doc/html/rfc5280#section-6.2):

    Where a CA distributes self-signed certificates to specify trust
    anchor information, certificate extensions can be used to specify
    recommended inputs to path validation.  For example, a policy
    constraints extension could be included in the self-signed
    certificate to indicate that paths beginning with this trust anchor
    should be trusted only for the specified policies.

> (or first certificate in chain)

No, only self-signed trust anchors are potentially excluded from this, see [RFC 8280, section 6.1](https://datatracker.ietf.org/doc/html/rfc5280#section-6.1):

    When the trust anchor is provided in the form of a self-signed
    certificate, this self-signed certificate is not included as part of
    the prospective certification path.

> Utilizing Radius server may work, however, this will only support EAP-TLS and not IPSec's direct certificate auth.

Yes, that could be an option (given it supports enforcing policies and does the verification differently). The alternative is to use a custom CA for client certificates as that allows creating the root certificate (and all others) as needed by the current verification process (at least when using the [`pki` tool](https://docs.strongswan.org/docs/latest/pki/pki.html)).

I've pushed a potential fix to the `2601-constraints-root` branch.


> No, only self-signed trust anchors are potentially excluded from this

When I mean first cert in chain, it basically means root (since it's always the first cert in the chain)

> I've pushed a potential fix to the 2601-constraints-root branch.

I'll go head and give the patch a shot to confirm it!

I can verify the authentication is working with my use case with this patch.

Great, thanks for testing. I've pushed the fix to master.
